In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df_principal = pd.read_excel("company_papers.xlsx", sheet_name="Principal")
df_principal

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,Volume
0,USIM5,2024-01-26,9.50,5.20,11.76,2.26,2.26,15.97,9.18,9.56,"319,16 M"
1,CMIN3,2024-01-26,6.82,2.40,2.40,-12.11,-12.11,50.56,6.66,6.86,"32,65 M"
2,PETR3,2024-01-26,41.96,2.19,7.73,7.64,7.64,77.55,40.81,42.34,"436,69 M"
3,SUZB3,2024-01-26,52.91,2.04,2.14,-4.89,-4.89,18.85,51.89,53.17,"162,55 M"
4,CPFE3,2024-01-26,37.10,2.03,2.49,-3.66,-3.66,20.70,36.37,37.32,"73,42 M"
...,...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-9.47,-13.98,-13.98,-32.72,10.70,11.08,"38,19 M"
77,BHIA3,2024-01-26,8.70,-2.46,-6.95,-23.55,-23.55,-85.74,8.67,8.95,"27,54 M"
78,RENT3,2024-01-26,56.24,-3.63,-6.41,-11.57,-11.57,-2.77,56.04,58.90,"624,74 M"
79,CVCB3,2024-01-26,3.07,-4.36,-5.54,-12.29,-12.29,-36.83,3.05,3.23,"101,46 M"
80,GOLL4,2024-01-26,5.92,-8.07,-15.91,-34.00,-34.00,-25.44,5.51,6.02,"154,36 M"

In [3]:
df_total_acoes = pd.read_excel("company_papers.xlsx", sheet_name="Total_de_acoes")
df_total_acoes

                      Código  Qtde. Teórica
0                      RRRP3   2.356656e+08
1                      ALOS3   5.326166e+08
2                      ALPA4   1.767340e+08
3                      ABEV3   4.394246e+09
4                      ARZZ3   6.230589e+07
..                       ...            ...
84                     VBBR3   1.114413e+09
85                     WEGE3   1.481593e+09
86                     YDUQ3   2.893479e+08
87  Quantidade Teórica Total   9.637210e+10
88                   Redutor   1.704785e+07

[89 rows x 2 columns]

In [4]:
df_ticker = pd.read_excel("company_papers.xlsx", sheet_name="Ticker")
df_ticker

    Ticker            Nome
0    MGLU3  Magazine Luiza
1    HAPV3         Hapvida
2    PETR4       Petrobras
3    B3SA3              B3
4    USIM5        Usiminas
..     ...             ...
530  TKNO3           Tekno
531  COCE6          Coelce
532  MGEL3         Mangels
533  CTSA8      Santanense
534  MMAQ4   Minasmáquinas

[535 rows x 2 columns]

In [5]:
df_chatgpt = pd.read_excel("company_papers.xlsx", sheet_name="Chatgpt")
df_chatgpt

     Nome da empresa           Segmento  Idade (anos)
0           Usiminas         Siderurgia            60
1      CSN Mineração          Mineração             8
2          Petrobras           Petróleo            69
3             Suzano   Papel e Celulose            94
4       CPFL Energia            Energia           109
..               ...                ...           ...
76  Carrefour Brasil             Varejo            37
77       Casas Bahia             Varejo            95
78          Localiza  Aluguel de Carros            49
79               CVC            Turismo            50
80               GOL            Aviação            20

[81 rows x 3 columns]

In [6]:
df_principal = df_principal[['Ativo', 'Data', 'Último (R$)', 'Var. Dia (%)']].copy()
df_principal.head()

   Ativo       Data  Último (R$)  Var. Dia (%)
0  USIM5 2024-01-26         9.50          5.20
1  CMIN3 2024-01-26         6.82          2.40
2  PETR3 2024-01-26        41.96          2.19
3  SUZB3 2024-01-26        52.91          2.04
4  CPFE3 2024-01-26        37.10          2.03

In [7]:
df_principal = df_principal.rename(columns={'Último (R$)':'valor_final', 'Var. Dia (%)':'var_dia_pct'}).copy()
df_principal

    Ativo       Data  valor_final  var_dia_pct
0   USIM5 2024-01-26         9.50         5.20
1   CMIN3 2024-01-26         6.82         2.40
2   PETR3 2024-01-26        41.96         2.19
3   SUZB3 2024-01-26        52.91         2.04
4   CPFE3 2024-01-26        37.10         2.03
..    ...        ...          ...          ...
76  CRFB3 2024-01-26        10.71        -2.45
77  BHIA3 2024-01-26         8.70        -2.46
78  RENT3 2024-01-26        56.24        -3.63
79  CVCB3 2024-01-26         3.07        -4.36
80  GOLL4 2024-01-26         5.92        -8.07

[81 rows x 4 columns]

In [8]:
df_principal['Var_pct'] = df_principal['var_dia_pct'] / 100
df_principal['valor_inicial'] = df_principal['valor_final'] / (df_principal['Var_pct'] + 1)
df_principal

    Ativo       Data  valor_final  var_dia_pct  Var_pct  valor_inicial
0   USIM5 2024-01-26         9.50         5.20   0.0520       9.030418
1   CMIN3 2024-01-26         6.82         2.40   0.0240       6.660156
2   PETR3 2024-01-26        41.96         2.19   0.0219      41.060769
3   SUZB3 2024-01-26        52.91         2.04   0.0204      51.852215
4   CPFE3 2024-01-26        37.10         2.03   0.0203      36.361854
..    ...        ...          ...          ...      ...            ...
76  CRFB3 2024-01-26        10.71        -2.45  -0.0245      10.978985
77  BHIA3 2024-01-26         8.70        -2.46  -0.0246       8.919418
78  RENT3 2024-01-26        56.24        -3.63  -0.0363      58.358410
79  CVCB3 2024-01-26         3.07        -4.36  -0.0436       3.209954
80  GOLL4 2024-01-26         5.92        -8.07  -0.0807       6.439682

[81 rows x 6 columns]

In [9]:
df_principal = df_principal.merge(df_total_acoes, left_on='Ativo', right_on='Código', how='left')
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Código,Qtde. Teórica
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.030418,USIM5,5.151174e+08
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.660156,CMIN3,1.110559e+09
2,PETR3,2024-01-26,41.96,2.19,0.0219,41.060769,PETR3,2.379878e+09
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.852215,SUZB3,6.834528e+08
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.361854,CPFE3,1.877325e+08
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.0245,10.978985,CRFB3,5.339906e+08
77,BHIA3,2024-01-26,8.70,-2.46,-0.0246,8.919418,BHIA3,9.484305e+07
78,RENT3,2024-01-26,56.24,-3.63,-0.0363,58.358410,RENT3,8.532023e+08
79,CVCB3,2024-01-26,3.07,-4.36,-0.0436,3.209954,CVCB3,5.255828e+08
80,GOLL4,2024-01-26,5.92,-8.07,-0.0807,6.439682,GOLL4,1.981849e+08

In [10]:
df_principal = df_principal.drop(columns=['Código'])
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtde. Teórica
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.030418,5.151174e+08
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.660156,1.110559e+09
2,PETR3,2024-01-26,41.96,2.19,0.0219,41.060769,2.379878e+09
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.852215,6.834528e+08
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.361854,1.877325e+08
...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.0245,10.978985,5.339906e+08
77,BHIA3,2024-01-26,8.70,-2.46,-0.0246,8.919418,9.484305e+07
78,RENT3,2024-01-26,56.24,-3.63,-0.0363,58.358410,8.532023e+08
79,CVCB3,2024-01-26,3.07,-4.36,-0.0436,3.209954,5.255828e+08
80,GOLL4,2024-01-26,5.92,-8.07,-0.0807,6.439682,1.981849e+08

In [11]:
df_principal['Variacao_rs'] = (df_principal['valor_final'] - df_principal['valor_inicial'])*df_principal['Qtde. Teórica']
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtde. Teórica,Variacao_rs
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.030418,5.151174e+08,2.418897e+08
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.660156,1.110559e+09,1.775160e+08
2,PETR3,2024-01-26,41.96,2.19,0.0219,41.060769,2.379878e+09,2.140059e+09
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.852215,6.834528e+08,7.229463e+08
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.361854,1.877325e+08,1.385740e+08
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.0245,10.978985,5.339906e+08,-1.436355e+08
77,BHIA3,2024-01-26,8.70,-2.46,-0.0246,8.919418,9.484305e+07,-2.081024e+07
78,RENT3,2024-01-26,56.24,-3.63,-0.0363,58.358410,8.532023e+08,-1.807433e+09
79,CVCB3,2024-01-26,3.07,-4.36,-0.0436,3.209954,5.255828e+08,-7.355741e+07
80,GOLL4,2024-01-26,5.92,-8.07,-0.0807,6.439682,1.981849e+08,-1.029932e+08

In [12]:
pd.options.display.float_format = '{:2f}'.format

In [13]:
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtde. Teórica,Variacao_rs
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391.000000,241889725.431559
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345.000000,177515970.302344
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655.000000,2140059393.525020
3,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836.000000,722946282.709038
4,CPFE3,2024-01-26,37.100000,2.030000,0.020300,36.361854,187732538.000000,138573955.056297
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.710000,-2.450000,-0.024500,10.978985,533990587.000000,-143635530.574951
77,BHIA3,2024-01-26,8.700000,-2.460000,-0.024600,8.919418,94843047.000000,-20810240.843695
78,RENT3,2024-01-26,56.240000,-3.630000,-0.036300,58.358410,853202347.000000,-1807432634.459543
79,CVCB3,2024-01-26,3.070000,-4.360000,-0.043600,3.209954,525582771.000000,-73557408.055094
80,GOLL4,2024-01-26,5.920000,-8.070000,-0.080700,6.439682,198184909.000000,-102993202.616443

In [14]:
df_principal['Qtde. Teórica'] = df_principal['Qtde. Teórica'].astype(int)
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtde. Teórica,Variacao_rs
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391,241889725.431559
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345,177515970.302344
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020
3,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836,722946282.709038
4,CPFE3,2024-01-26,37.100000,2.030000,0.020300,36.361854,187732538,138573955.056297
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.710000,-2.450000,-0.024500,10.978985,533990587,-143635530.574951
77,BHIA3,2024-01-26,8.700000,-2.460000,-0.024600,8.919418,94843047,-20810240.843695
78,RENT3,2024-01-26,56.240000,-3.630000,-0.036300,58.358410,853202347,-1807432634.459543
79,CVCB3,2024-01-26,3.070000,-4.360000,-0.043600,3.209954,525582771,-73557408.055094
80,GOLL4,2024-01-26,5.920000,-8.070000,-0.080700,6.439682,198184909,-102993202.616443

In [15]:
df_principal = df_principal.rename(columns={'Qtde. Teórica':'Qtd_teorica'}).copy()
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_rs
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391,241889725.431559
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345,177515970.302344
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020
3,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836,722946282.709038
4,CPFE3,2024-01-26,37.100000,2.030000,0.020300,36.361854,187732538,138573955.056297
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.710000,-2.450000,-0.024500,10.978985,533990587,-143635530.574951
77,BHIA3,2024-01-26,8.700000,-2.460000,-0.024600,8.919418,94843047,-20810240.843695
78,RENT3,2024-01-26,56.240000,-3.630000,-0.036300,58.358410,853202347,-1807432634.459543
79,CVCB3,2024-01-26,3.070000,-4.360000,-0.043600,3.209954,525582771,-73557408.055094
80,GOLL4,2024-01-26,5.920000,-8.070000,-0.080700,6.439682,198184909,-102993202.616443

In [16]:
df_principal['Resultado'] = df_principal['Variacao_rs'].apply(lambda x: 'Subiu' if x > 0 else ('Desceu' if x < 0 else 'Estável'))
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_rs,Resultado
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391,241889725.431559,Subiu
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345,177515970.302344,Subiu
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu
3,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836,722946282.709038,Subiu
4,CPFE3,2024-01-26,37.100000,2.030000,0.020300,36.361854,187732538,138573955.056297,Subiu
...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.710000,-2.450000,-0.024500,10.978985,533990587,-143635530.574951,Desceu
77,BHIA3,2024-01-26,8.700000,-2.460000,-0.024600,8.919418,94843047,-20810240.843695,Desceu
78,RENT3,2024-01-26,56.240000,-3.630000,-0.036300,58.358410,853202347,-1807432634.459543,Desceu
79,CVCB3,2024-01-26,3.070000,-4.360000,-0.043600,3.209954,525582771,-73557408.055094,Desceu
80,GOLL4,2024-01-26,5.920000,-8.070000,-0.080700,6.439682,198184909,-102993202.616443,Desceu

In [17]:
df_principal = df_principal.merge(df_ticker, left_on='Ativo', right_on='Ticker', how='left')
df_principal = df_principal.drop(columns=['Ticker'])
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_rs,Resultado,Nome
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391,241889725.431559,Subiu,Usiminas
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345,177515970.302344,Subiu,CSN Mineração
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras
3,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836,722946282.709038,Subiu,Suzano
4,CPFE3,2024-01-26,37.100000,2.030000,0.020300,36.361854,187732538,138573955.056297,Subiu,CPFL Energia
...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.710000,-2.450000,-0.024500,10.978985,533990587,-143635530.574951,Desceu,Carrefour Brasil
77,BHIA3,2024-01-26,8.700000,-2.460000,-0.024600,8.919418,94843047,-20810240.843695,Desceu,Casas Bahia
78,RENT3,2024-01-26,56.240000,-3.630000,-0.036300,58.358410,853202347,-1807432634.459543,Desceu,Localiza
79,CVCB3,2024-01-26,3.070000,-4.360000,-0.043600,3.209954,525582771,-73557408.055094,Desceu,CVC
80,GOLL4,2024-01-26,5.920000,-8.070000,-0.080700,6.439682,198184909,-102993202.616443,Desceu,GOL

In [18]:
df_principal = df_principal.merge(df_chatgpt, left_on='Nome', right_on='Nome da empresa', how='left')
df_principal = df_principal.drop(columns=['Nome da empresa'])
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_rs,Resultado,Nome,Segmento,Idade (anos)
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391,241889725.431559,Subiu,Usiminas,Siderurgia,60
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345,177515970.302344,Subiu,CSN Mineração,Mineração,8
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69
3,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69
4,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836,722946282.709038,Subiu,Suzano,Papel e Celulose,94
...,...,...,...,...,...,...,...,...,...,...,...,...
82,CRFB3,2024-01-26,10.710000,-2.450000,-0.024500,10.978985,533990587,-143635530.574951,Desceu,Carrefour Brasil,Varejo,37
83,BHIA3,2024-01-26,8.700000,-2.460000,-0.024600,8.919418,94843047,-20810240.843695,Desceu,Casas Bahia,Varejo,95
84,RENT3,2024-01-26,56.240000,-3.630000,-0.036300,58.358410,853202347,-1807432634.459543,Desceu,Localiza,Aluguel de Carros,49
85,CVCB3,2024-01-26,3.070000,-4.360000,-0.043600,3.209954,525582771,-73557408.055094,Desceu,CVC,Turismo,50
86,GOLL4,2024-01-26,5.920000,-8.070000,-0.080700,6.439682,198184909,-102993202.616443,Desceu,GOL,Aviação,20

In [19]:
df_principal = df_principal.rename(columns={'Idade (anos)':'Idade'}).copy()
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_rs,Resultado,Nome,Segmento,Idade
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391,241889725.431559,Subiu,Usiminas,Siderurgia,60
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345,177515970.302344,Subiu,CSN Mineração,Mineração,8
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69
3,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69
4,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836,722946282.709038,Subiu,Suzano,Papel e Celulose,94
...,...,...,...,...,...,...,...,...,...,...,...,...
82,CRFB3,2024-01-26,10.710000,-2.450000,-0.024500,10.978985,533990587,-143635530.574951,Desceu,Carrefour Brasil,Varejo,37
83,BHIA3,2024-01-26,8.700000,-2.460000,-0.024600,8.919418,94843047,-20810240.843695,Desceu,Casas Bahia,Varejo,95
84,RENT3,2024-01-26,56.240000,-3.630000,-0.036300,58.358410,853202347,-1807432634.459543,Desceu,Localiza,Aluguel de Carros,49
85,CVCB3,2024-01-26,3.070000,-4.360000,-0.043600,3.209954,525582771,-73557408.055094,Desceu,CVC,Turismo,50
86,GOLL4,2024-01-26,5.920000,-8.070000,-0.080700,6.439682,198184909,-102993202.616443,Desceu,GOL,Aviação,20

In [20]:
df_principal = df_principal.rename(columns={'Idade (anos)':'Ano_de_fundacao'}).copy()
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_rs,Resultado,Nome,Segmento,Idade
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391,241889725.431559,Subiu,Usiminas,Siderurgia,60
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345,177515970.302344,Subiu,CSN Mineração,Mineração,8
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69
3,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69
4,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836,722946282.709038,Subiu,Suzano,Papel e Celulose,94
...,...,...,...,...,...,...,...,...,...,...,...,...
82,CRFB3,2024-01-26,10.710000,-2.450000,-0.024500,10.978985,533990587,-143635530.574951,Desceu,Carrefour Brasil,Varejo,37
83,BHIA3,2024-01-26,8.700000,-2.460000,-0.024600,8.919418,94843047,-20810240.843695,Desceu,Casas Bahia,Varejo,95
84,RENT3,2024-01-26,56.240000,-3.630000,-0.036300,58.358410,853202347,-1807432634.459543,Desceu,Localiza,Aluguel de Carros,49
85,CVCB3,2024-01-26,3.070000,-4.360000,-0.043600,3.209954,525582771,-73557408.055094,Desceu,CVC,Turismo,50
86,GOLL4,2024-01-26,5.920000,-8.070000,-0.080700,6.439682,198184909,-102993202.616443,Desceu,GOL,Aviação,20

In [21]:
df_principal['Cat_idade'] = df_principal['Idade'].apply(lambda x: 'Mais de 100' if x > 100 else ('Menos de 50' if x < 50 else 'Entre 50 e 100'))
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_rs,Resultado,Nome,Segmento,Idade,Cat_idade
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391,241889725.431559,Subiu,Usiminas,Siderurgia,60,Entre 50 e 100
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345,177515970.302344,Subiu,CSN Mineração,Mineração,8,Menos de 50
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69,Entre 50 e 100
3,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69,Entre 50 e 100
4,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836,722946282.709038,Subiu,Suzano,Papel e Celulose,94,Entre 50 e 100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,CRFB3,2024-01-26,10.710000,-2.450000,-0.024500,10.978985,533990587,-143635530.574951,Desceu,Carrefour Brasil,Varejo,37,Menos de 50
83,BHIA3,2024-01-26,8.700000,-2.460000,-0.024600,8.919418,94843047,-20810240.843695,Desceu,Casas Bahia,Varejo,95,Entre 50 e 100
84,RENT3,2024-01-26,56.240000,-3.630000,-0.036300,58.358410,853202347,-1807432634.459543,Desceu,Localiza,Aluguel de Carros,49,Menos de 50
85,CVCB3,2024-01-26,3.070000,-4.360000,-0.043600,3.209954,525582771,-73557408.055094,Desceu,CVC,Turismo,50,Entre 50 e 100
86,GOLL4,2024-01-26,5.920000,-8.070000,-0.080700,6.439682,198184909,-102993202.616443,Desceu,GOL,Aviação,20,Menos de 50

In [22]:
# Calculando o maior valor
maior = df_principal['Variacao_rs'].max()

# Calculando o menor valor
menor = df_principal['Variacao_rs'].min()

# Calculando a média
media = df_principal['Variacao_rs'].mean()

# Calculando a média de quem subiu
media_subiu = df_principal[df_principal['Resultado'] == 'Subiu']['Variacao_rs'].mean()

# Calculando a média de quem desceu
media_desceu = df_principal[df_principal['Resultado'] == 'Desceu']['Variacao_rs'].mean()

# Imprimindo os resultados
print(f"Maior\tR$ {maior:,.2f}")
print(f"Menor\tR$ {menor:,.2f}")
print(f"Média\tR$ {media:,.2f}")
print(f"Média de quem subiu\tR$ {media_subiu:,.2f}")
print(f"Média de quem desceu\tR$ {media_desceu:,.2f}")

Maior	R$ 4,762,926,995.25
Menor	R$ -1,807,432,634.46
Média	R$ 218,008,898.33
Média de quem subiu	R$ 538,720,638.36
Média de quem desceu	R$ -186,265,310.46

In [23]:
df_principal_subiu = df_principal[df_principal['Resultado'] == 'Subiu']
df_principal_subiu

,Ativo,Data,valor_final,var_dia_pct,Var_pct,valor_inicial,Qtd_teorica,Variacao_rs,Resultado,Nome,Segmento,Idade,Cat_idade
0,USIM5,2024-01-26,9.500000,5.200000,0.052000,9.030418,515117391,241889725.431559,Subiu,Usiminas,Siderurgia,60,Entre 50 e 100
1,CMIN3,2024-01-26,6.820000,2.400000,0.024000,6.660156,1110559345,177515970.302344,Subiu,CSN Mineração,Mineração,8,Menos de 50
2,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69,Entre 50 e 100
3,PETR3,2024-01-26,41.960000,2.190000,0.021900,41.060769,2379877655,2140059393.525020,Subiu,Petrobras,Petróleo,69,Entre 50 e 100
4,SUZB3,2024-01-26,52.910000,2.040000,0.020400,51.852215,683452836,722946282.709038,Subiu,Suzano,Papel e Celulose,94,Entre 50 e 100
5,CPFE3,2024-01-26,37.100000,2.030000,0.020300,36.361854,187732538,138573955.056297,Subiu,CPFL Energia,Energia,109,Mais de 100
6,PRIO3,2024-01-26,45.690000,1.980000,0.019800,44.802903,800010734,709687498.177987,Subiu,PetroRio,Petróleo,9,Menos de 50
7,PETR4,2024-01-26,39.960000,1.730000,0.017300,39.280448,4566445852,3103136291.216379,Subiu,Petrobras,Petróleo,69,Entre 50 e 100
8,PETR4,2024-01-26,39.960000,1.730000,0.017300,39.280448,4566445852,3103136291.216379,Subiu,Petrobras,Petróleo,69,Entre 50 e 100
9,VALE3,2024-01-26,69.500000,1.660000,0.016600,68.365139,4196924316,4762926995.248090,Subiu,Vale,Mineração,79,Entre 50 e 100
10,MULT3,2024-01-26,28.190000,1.580000,0.015800,27.751526,268505432,117732680.078425,Subiu,Multiplan,Shopping Centers,48,Menos de 50
11,ITUB4,2024-01-26,32.810000,1.480000,0.014800,32.331494,4801593832,2297591984.325198,Subiu,Itaú Unibanco,Banco,13,Menos de 50
12,RDOR3,2024-01-26,27.560000,1.430000,0.014300,27.171448,1168230366,453917907.013240,Subiu,Rede D'Or,Saúde,48,Menos de 50
13,BRKM5,2024-01-26,18.550000,1.420000,0.014200,18.290278,265877867,69054317.636039,Subiu,Braskem,Química,19,Menos de 50
14,AZUL4,2024-01-26,14.270000,1.420000,0.014200,14.070203,327593725,65452205.552800,Subiu,Azul,Aviação,13,Menos de 50
15,RRRP3,2024-01-26,28.750000,1.410000,0.014100,28.350261,235665566,94204643.346070,Subiu,3R Petroleum,Petróleo,10,Menos de 50
16,EQTL3,2024-01-26,35.320000,1.340000,0.013400,34.852970,1095587251,511671895.452234,Subiu,Equatorial Energia,Energia,23,Menos de 50
17,CSNA3,2024-01-26,18.160000,1.330000,0.013300,17.921642,600865451,143220991.462676,Subiu,Siderúrgica Nacional,Siderurgia,80,Entre 50 e 100
18,YDUQ3,2024-01-26,19.770000,1.280000,0.012800,19.520142,289347914,72295838.986161,Subiu,YDUQS,Educação,59,Entre 50 e 100
19,UGPA3,2024-01-26,28.310000,1.280000,0.012800,27.952212,1086411192,388705223.956018,Subiu,Ultrapar,Energia,83,Entre 50 e 100
20,MRVE3,2024-01-26,8.080000,1.250000,0.012500,7.980247,376187582,37525872.377284,Subiu,MRV,Construção,41,Menos de 50
21,ARZZ3,2024-01-26,57.910000,1.150000,0.011500,57.251607,62305891,41021792.090772,Subiu,Arezzo,Moda,50,Entre 50 e 100
22,BBDC4,2024-01-26,15.520000,1.040000,0.010400,15.360253,5146576868,822148336.411458,Subiu,Banco Bradesco,Banco,78,Entre 50 e 100
23,BBDC4,2024-01-26,15.520000,1.040000,0.010400,15.360253,5146576868,822148336.411458,Subiu,Banco Bradesco,Banco,78,Entre 50 e 100
24,BEEF3,2024-01-26,7.190000,0.980000,0.009800,7.120222,261036182,18214628.100697,Subiu,Minerva,Alimentos,29,Menos de 50
25,PCAR3,2024-01-26,4.140000,0.970000,0.009700,4.100228,159430826,6340916.223144,Subiu,Grupo Pão de Açúcar,Varejo,72,Entre 50 e 100
26,BRFS3,2024-01-26,14.610000,0.960000,0.009600,14.471078,1677525446,233045769.566340,Subiu,BRF,Alimentos,11,Menos de 50
27,VIVT3,2024-01-26,51.200000,0.880000,0.008800,50.753370,423091712,188965307.056621,Subiu,Vivo,Telecomunicações,18,Menos de 50
28,RAIL3,2024-01-26,22.640000,0.840000,0.008400,22.451408,1218352541,229771333.634684,Subiu,Rumo,Logística,12,Menos de 50
29,CIEL3,2024-01-26,4.900000,0.820000,0.008200,4.860147,1095462329,43657683.375541,Subiu,Cielo,Meios de Pagamento,24,Menos de 50
30,DXCO3,2024-01-26,7.810000,0.770000,0.007700,7.750323,302768240,18068446.609983,Subiu,Dexco,Imobiliário,8,Menos de 50
31,TIMS3,2024-01-26,17.520000,0.740000,0.007400,17.391304,807896814,103972807.366957,Subiu,TIM,Telecomunicações,25,Menos de 50
32,BRAP4,2024-01-26,23.220000,0.730000,0.007300,23.051722,251003438,42238249.539986,Subiu,Bradespar,Holding,40,Menos de 50
33,LWSA3,2024-01-26,5.550000,0.720000,0.007200,5.510326,393173139,15598886.650556,Subiu,Locaweb,Tecnologia,24,Menos de 50
34,RECV3,2024-01-26,23.830000,0.710000,0.007100,23.662000,275005663,46201005.997379,Subiu,PetroRecôncavo,Petróleo,11,Menos de 50
35,ITSA4,2024-01-26,10.010000,0.700000,0.007000,9.940417,5372783971,373853994.883777,Subiu,Itaúsa,Holding,54,Entre 50 e 100
36,BBAS3,2024-01-26,56.970000,0.680000,0.006800,56.585221,1420949112,546752087.993985,Subiu,Banco do Brasil,Banco,213,Mais de 100
37,RADL3,2024-01-26,26.160000,0.610000,0.006100,26.001392,1275798515,202352473.739829,Subiu,RaiaDrogasil,Varejo,117,Mais de 100
38,GOAU4,2024-01-26,10.080000,0.590000,0.005900,10.020877,660411219,39045606.935449,Subiu,Metalúrgica Gerdau,Siderurgia,121,Mais de 100
39,CSAN3,2024-01-26,18.570000,0.590000,0.005900,18.461080,1168097881,127229653.182227,Subiu,Cosan,Energia,84,Entre 50 e 100
40,JBSS3,2024-01-26,24.340000,0.570000,0.005700,24.202048,1134986472,156573285.425413,Subiu,JBS,Alimentos,64,Entre 50 e 100
41,MGLU3,2024-01-26,2.080000,0.480000,0.004800,2.070064,2867627068,28493619.274395,Subiu,Magazine Luiza,Varejo,64,Entre 50 e 100
42,BBDC3,2024-01-26,13.750000,0.360000,0.003600,13.700678,1500728902,74019610.052810,Subiu,Banco Bradesco,Banco,78,Entre 50 e 100
43,BBDC3,2024-01-26,13.750000,0.360000,0.003600,13.700678,1500728902,74019610.052810,Subiu,Banco Bradesco,Banco,78,Entre 50 e 100
44,GGBR4,2024-01-26,21.840000,0.270000,0.002700,21.781191,1118525506,65779607.098639,Subiu,Gerdau,Siderurgia,121,Mais de 100
45,RAIZ4,2024-01-26,3.740000,0.260000,0.002600,3.730301,1193047233,11571106.417008,Subiu,Raízen,Energia,8,Menos de 50
46,CPLE6,2024-01-26,10.070000,0.190000,0.001900,10.050903,1679335290,32069789.503513,Subiu,Copel,Energia,67,Entre 50 e 100
47,VAMO3,2024-01-26,8.180000,0.120000,0.001200,8.170196,421383330,4131341.157891,Subiu,Grupo Vamos,Logística,57,Entre 50 e 100

In [24]:
df_analise_segmento = df_principal_subiu.groupby('Segmento')['Variacao_rs'].sum().reset_index()
df_analise_segmento

              Segmento        Variacao_rs
0            Alimentos   407833683.092450
1              Aviação    65452205.552800
2                Banco  4636679965.247721
3           Construção    37525872.377284
4             Educação    72295838.986161
5              Energia  1209821623.567297
6              Holding   416092244.423763
7          Imobiliário    18068446.609983
8            Logística   233902674.792574
9   Meios de Pagamento    43657683.375541
10           Mineração  4940442965.550434
11                Moda    41021792.090772
12    Papel e Celulose   722946282.709038
13            Petróleo 11336484517.004236
14             Química    69054317.636039
15               Saúde   453917907.013240
16    Shopping Centers   117732680.078425
17          Siderurgia   489935930.928323
18          Tecnologia    15598886.650556
19    Telecomunicações   292938114.423578
20              Varejo   237187009.237367

In [25]:
df_analise_saldo = df_principal.groupby('Resultado')['Variacao_rs'].sum().reset_index()
df_analise_saldo

  Resultado        Variacao_rs
0    Desceu -6891816486.985515
1   Estável           0.000000
2     Subiu 25858590641.347580

In [26]:
fig = px.bar(df_analise_saldo, x='Resultado', y='Variacao_rs', text='Variacao_rs', title='Variação Reais por Resultado')
fig.show()